<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#A5C9CA" />
  <meta name="description" content="Bringing Dreams to Life" />

  <title>21 Wedding Organizer</title>
</head>

<body>
  <!-- NavBar -->
  <header class="navbar-area">
    <app-bar></app-bar>
  </header>

  <!-- Content -->
  <main id="content"></main>

  <footer class="footer">
    <p>© Copyright 2023 - Dua Satu Wedding Organizer</p>
  </footer>
</body>

</html>