<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container text-center bg-transparent">
      <h1>Event Portofolio</h1>
      <img src="${DIVIDED_PATH}" alt="">
      <h3>Great Things We Have Done</h3>
      <br />

      <div class="row">
        <div class="col-sm-4">
          <!-- <div class="jumbotron text-center bg-transparent"> -->
          <p>
            <img src="${PORTOFOLIO_WIDIS_ANGGA}" alt="Widis & Angga" class="img-fluid">
          </p>
          <p>Widis & Angga</p>

          <p>
            <img src="${PORTOFOLIO_ANISA_RIZKY}" alt="Anisa & Rizky" class="img-fluid">
          </p>
          <p>Anisa & Rizky</p>
        </div>

        <div class="col-sm-8">
          <!-- <div class="jumbotron text-center bg-transparent"> -->
          <p>
            <img src="${PORTOFOLIO_TEGUH_RISNA}" alt="Risna & Teguh" class="img-fluid">
          </p>
          <p>Risna & Teguh</p>
          <div class="row">
            <div class="col-6">
              <div class="wrapper">
                <p>
                  <img src="${PORTOFOLIO_MUTIARA_ARI}" alt="Mutiara & Ari" class="img-fluid">
                </p>
                <p>Mutiara & Ari</p>
              </div>
            </div>

            <div class="col-6">
              <div class="wrapper">
                <p>
                    <img src="${PORTOFOLIO_DESTY_DODI}" alt="Desty & Dodi" class="img-fluid">
                </p>
                <p>Desty & Dodi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <!-- <div class="jumbotron text-center bg-transparent"> -->
          <img src="${PORTOFOLIO_ARIESA_ARDI}" alt="Ariesa & Ardi" class="img-fluid">
          <p>Ariesa & Ardi</p>

          <img src="${PORTOFOLIO_NADYA_FARIZ}" alt="Nadya & Fariz" class="img-fluid">

          <p>Nadya & Fariz</p>
        </div>

        <div class="col-lg-6">
          <!-- <div class="jumbotron text-center bg-transparent"> -->
          <div class="row">
            <div class="col-6">
              <p>
                <img src="${PORTOFOLIO_GINA_FAHMI}" alt="Gina & Fahmi" class="img-fluid">
              </p>
              <p>Gina & Fahmi</p>
            </div>
            <div class="col-6">
              <p>
                <img src="${PORTOFOLIO_AYU_RANDI}" alt="Ayu & Randi" class="img-fluid">
              </p>
              <p>Ayu & Randi</p>
            </div>
          </div>

          <p>
            <img src="${PORTOFOLIO_RIVI_FERDI}" alt="Rivi & Ferdi" class="img-fluid">
          </p>
          <p>Rivi & Ferdi</p>
        </div>
      </div>
    </div>
  </body>
</html>
